@import "tailwindcss";
@reference "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
  color: #111827;
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

:root {
  --color-primary: #3b82f6;
  --color-secondary: #f59e0b;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-bg: #f9fafb;
  --color-card: #ffffff;
  --color-border: #e5e7eb;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

.card {
  @apply bg-white shadow rounded-2xl p-4 border border-gray-100;
}

.section-title {
  @apply text-xl font-bold text-gray-800 mb-3;
}

/*Dark Mode*/
.dark {
  --color-bg: #111827;
  --color-card: #1f2937;
  --color-border: #374151;
  color: #f3f4f6;
  background-color: var(--color-bg);
}

.dark .card {
  background: var(--color-card);
  border-color: var(--color-border);
}
